.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: rgba(0,0,0,0.04);
}

.button-white {
    -fx-background-color: transparent;
}

.button-white:hover {
    -fx-background-color: rgba(0,0,0,0.25);
}
