
.cornerCloseButton {
    -fx-background-color: transparent;
    -fx-background-radius: 40;
}
.cornerCloseButton:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.cornerCloseButton:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
