.toggle-button {
    -fx-background-color: derive(black, 40%);
    -fx-background-radius: 8;
    -fx-padding: 2 2 2 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.toggle-button:hover {
    -fx-background-color: rgba(80, 181, 246, 0.4);
}

.toggle-button:selected {
    -fx-background-color: rgba(80, 181, 246, 1);
}

.label {
    -fx-text-fill: white;
    -fx-font-family: 'Lato';
    -fx-font-weight: bold;
}