.button1 {
    -fx-background-color: rgba(0, 201, 8, 1);
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-padding: 2 27 2 27;
    -fx-font-family: 'Lato';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.button1:hover {
    -fx-background-color: rgba(0, 230, 8, 1);
}

.button2 {
    -fx-background-color: rgba(255, 0, 0, 1);
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-padding: 2 27 2 27;
    -fx-font-family: 'Lato';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.button2:hover {
    -fx-background-color: rgba(230, 0, 0, 0.8);
}