#iMatLogo {
     -fx-font-size: 30px;
     -fx-font-family: "Pacifico";
 }

.font-larger {
     -fx-font-size: 20;
     -fx-font-weight: bold;
     -fx-font-family: "Lato";
}

.font-normal {
     -fx-font-size: 15;
     -fx-font-weight: bold;
     -fx-font-family: "Lato";
}

.font-smaller {
     -fx-font-size: 15;
     -fx-font-family: "Lato";
}